{% extends 'baseAdmin.html' %}

{% block title %}Sistem Chip{% endblock %}

{% block content %}
    <h2>Agregar Producto</h2>
    <form class="caja" action="{{ url_for('agregarPro') }}" method="POST" enctype="multipart/form-data">
        <!-- Campos del nuevo producto -->
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required><br>

        <label for="imagen">Imagen:</label>
        <input type="file" name="imagen" accept="image/*" required><br>

        <label for="categoria">Categoría:</label>
        <select name="categoria" required>
            <option value="computadores">Computadores</option>
            <option value="celulares">Celulares</option>
            <option value="camaras">Cámaras</option>
            <option value="impresoras">Impresoras</option>
            <option value="accesorios">Accesorios</option>
            <option value="relojes">Relojes</option>

        </select><br>

        <label for="descripcion"> Descripción:</label>
        <input type="text" name="descripcion" required><br>

        <label for="precio">Precio:</label>
        <input type="text" name="precio" required><br>

        <button type="submit" class="btn btn-outline-success">Agregar Producto</button>
    </form>

    {% for producto in producto %}
        <div class="col-sm-4 mb-4">
            <br><br>
            <div class="card" style="background-color: rgb(252, 251, 251); color: rgb(8, 8, 8);">
                <img class="card-img-top" src="{{ url_for('static', filename='img/' + producto.imagen) }}" style="width: 100%; height: 400px; object-fit: contain;" onmouseover="this.style.opacity=0.5;" onmouseout="this.style.opacity=1;">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: rgb(25, 170, 32);">{{ producto.nombre }}</h5>
                    <p class="card-text">Categoría: {{ producto.categoria }} <br> Precio: {{ producto.precio }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <form action="/eliminar-producto" method="POST">
                        <input type="hidden" value="{{ producto.id }}" name="producto_id">
                        <button type="submit" class="btn btn-outline-success">Eliminar Producto</button> 
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}


